.c-banner {

    // background-color: $light_gray;
    &__header {
        height: 22rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: var(--spacing-24);
        padding-left: var(--spacing-24);
        margin-bottom: calc(-1*10rem);
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-right: var(--spacing-24);
    }

    &__portrait {
        width: var(--spacing-160);
        border-radius: var(--spacing-160);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__white {
        padding: var(--spacing-4);
        border-radius: var(--spacing-80);
        background-color: $light_gray;
        color: $bg_dark;
        font-size: var(--text-xl);
    }

    &__edit {
        padding: var(--spacing-4);
        border-radius: var(--spacing-80);
        background-color: $bg_dark;
        color: $light_gray;
        font-size: var(--text-xl);
        border: solid var(--spacing-4) $light_gray;
    }
}

// welcome title
.c-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__tagline {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: calc(-1*var(--spacing-24));
        z-index: 2;
    }

    &__title {
        width: 75%;
        font-size: var(--text-xl);
        border: solid $light_gray var(--spacing-2);
        border-radius: var(--spacing-8);
        color: $light_gray;
        padding: var(--spacing-8) var(--spacing-32);
        margin-right: calc(-1*(var(--spacing-12)));
        background-color: $bg_dark;
        z-index: 3;

        &__edit {
            width: 75%;
            border: solid $light_gray var(--spacing-2);
            border-radius: var(--spacing-4);
            color: $dark_gray;
            padding: var(--spacing-8) var(--spacing-32);
            margin-right: calc(-1*(var(--spacing-12)));
            background-color: $light_gray;
            z-index: 3;
        }
    }

    &__btn {
        all: unset;
        cursor: pointer;
        text-align: center;
        padding: var(--spacing-8);
        font-size: var(--text-lg);
        border: var(--spacing-4) solid $light_gray;
        border-radius: var(--spacing-32);
        background-color: $bg_dark;
        margin-left: calc(-1*(var(--spacing-12)));
        color: $light_gray;
        z-index: 4;

        &__edit {
            all: unset;
            cursor: pointer;
            text-align: center;
            padding: var(--spacing-8);
            font-size: var(--text-lg);
            border: var(--spacing-4) solid $light_gray;
            border-radius: var(--spacing-12);
            background-color: $light_gray;
            margin-left: calc(-1*(var(--spacing-12)));
            color: black;
            z-index: 4;
        }
    }

    &__textarea {
        background-color: $light_gray;
        border-radius: var(--spacing-12);
        z-index: 1;
        padding: var(--spacing-24) var(--spacing-12);
        width: 100%;

        &__edit {
            background-color: white;
            border-radius: var(--spacing-12);
            z-index: 1;
            padding: var(--spacing-24) var(--spacing-12);
            width: 100%;
        }
    }

    &__companyName {
        background-color: $bg_dark;
        padding: var(--spacing-2) var(--spacing-64);
        border: solid $light_gray var(--spacing-2);
        border-radius: var(--spacing-12);
        letter-spacing: var(--spacing-2);
        color: $light_gray;
    }

    &__hr {
        align-items: center;
        height: var(--spacing-2);
        width: 75%;
        border-width: 0;
        color: $bg_dark;
        background-color: $bg_dark;
    }

    &__edit {
        padding: var(--spacing-4);
        border-radius: var(--spacing-80);
        background-color: $bg_dark;
        color: $light_gray;
    }
}

.c-socialSection {
    &__icon {
        font-size: var(--text-4xl);
    }
    &__iconDark{
        font-size: var(--text-4xl);
        color: $bg_dark;
    }
}

.c-addSection {
    width: 100%;
    color: $light_gray;
    border: dotted $light_gray var(--spacing-2);
    border-radius: var(--spacing-32);
    min-height: var(--spacing-120);

    &__icon {
        font-size: 10rem;
    }
}

.c-settings {
    position: fixed;
    width: fit-content;
    height: fit-content;
    right: var(--spacing-8);
    bottom: var(--spacing-16);

    &__icon {
        // padding: var(--spacing-4);
        margin: var(--spacing-12) 0;
        border-radius: var(--spacing-80);
        background-color: $bg_dark;
        color: $light_gray;
        font-size: 5rem;
    }

    &__content{
        display: flex;
        flex-direction: column-reverse;
    }
}

.c-bgColorPicker{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: var(--spacing-24);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5b5b83;
    z-index: 3;

    &__card{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--spacing-16);
        width: 50%;
        height: 50%;
        background-color: $light_gray;
        padding: var(--spacing-12);
        aspect-ratio: 1/1;
    }

    &__input{
        width: 80%;
        height: var(--spacing-160);
    }
}